<div class="row mt-4">
  <div class="col-lg-6 offset-lg-3">
    <img class="img-fluid w-100 rounded mb-3" src="{{charities.imgUrl}}" alt="Card image cap">
    <h3>{{charities.title}}</h3>
    <div class="lead">{{charities.desc}}</div>
    <div class="lead text-center mt-3">{{charities.websiteUrl}}</div>
    <div class="text-left">
      <a href="/">Back</a>
    </div>
    <div class="text-right">
      <a href="/charities/{{charities.id}}/edit">Edit</a>
    </div>
    <!-- add more info about each charity -->
    </div>
    </div>
  </div>
</div>
